v170/nec/SSOService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.globalsaas.com/soap/" xmlns:impl="http://service.globalsaas.com/soap/" xmlns:xsd1="http://service.globalsaas.com/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="SSOService" targetNamespace="http://service.globalsaas.com/soap/">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://service.globalsaas.com/soap/">
            <xsd:complexType name="ServiceException">
                <xsd:sequence>
                    <xsd:element name="message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ValidationException">
                <xsd:complexContent>
                    <xsd:extension base="tns:ServiceException" />
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="InternalException">
                <xsd:complexContent>
                    <xsd:extension base="tns:ServiceException" />
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="AuthenticationException">
                <xsd:complexContent>
                    <xsd:extension base="tns:ServiceException" />
                </xsd:complexContent>
            </xsd:complexType>

			<xsd:complexType name="InvalidSessionException">
				<xsd:complexContent>
					<xsd:extension base="tns:ServiceException" />
				</xsd:complexContent>
			</xsd:complexType>

            <xsd:complexType name="LoginInput">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="Timestamp" nillable="false" type="xsd:dateTime"/>
                    <xsd:element minOccurs="1" maxOccurs="1" name="RealmName" nillable="false" type="xsd:string"/>
                    <xsd:element minOccurs="1" maxOccurs="1" name="UserName" nillable="false" type="xsd:string"/>
                    <xsd:element minOccurs="1" maxOccurs="1" name="PassWord" nillable="false" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="LoginOutput">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="SessionId" nillable="false" type="xsd:string"/>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ValidTo" nillable="false" type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="LogoutInput">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="SessionId" nillable="false" type="xsd:string"/>
                    <xsd:element minOccurs="1" maxOccurs="1" name="Timestamp" nillable="false" type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="LogoutOutput">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="TimestampOfLastLogin" nillable="false" type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="login" type="tns:LoginInput"/>
            <xsd:element name="loginResponse" type="tns:LoginOutput"/>
            <xsd:element name="logout" type="tns:LogoutInput"/>
            <xsd:element name="logoutResponse" type="tns:LogoutOutput"/>

			<xsd:element name="ValidationException" type="tns:ValidationException"/>
            <xsd:element name="InternalException" type="tns:InternalException"/>
            <xsd:element name="AuthenticationException" type="tns:AuthenticationException"/>
			<xsd:element name="InvalidSessionException" type="tns:InvalidSessionException"/>
        </xsd:schema>
    </wsdl:types>

    <message name="LoginRequest">
        <part name="login" element="tns:login"/>
    </message>

    <message name="LoginResponse">
        <part name="loginResponse" element="tns:loginResponse"/>
    </message>

    <message name="LogoutRequest">
        <part name="logout" element="tns:logout"/>
    </message>

    <message name="LogoutResponse">
        <part name="logoutResponse" element="tns:logoutResponse"/>
    </message>

    <message name="ValidationException">
        <part name="ValidationException" element="tns:ValidationException"/>
    </message>

    <message name="InternalException">
        <part name="InternalException" element="tns:InternalException"/>
    </message>

    <message name="AuthenticationException">
        <part name="AuthenticationException" element="tns:AuthenticationException"/>
    </message>

	<message name="InvalidSessionException">
		<part name="InvalidSessionException" element="tns:InvalidSessionException"/>
	</message>

    <portType name="SSOServicePortType">
        <operation name="Login">
            <input message="tns:LoginRequest"/>
            <output message="tns:LoginResponse"/>
            <fault name="ValidationException" message="tns:ValidationException"/>
            <fault name="InternalException" message="tns:InternalException"/>
            <fault name="AuthenticationException" message="tns:AuthenticationException"/>
        </operation>

        <operation name="Logout">
            <input message="tns:LogoutRequest"/>
            <output message="tns:LogoutResponse"/>
            <fault name="ValidationException" message="tns:ValidationException"/>
			<fault name="InvalidSessionException" message="tns:InvalidSessionException"/>
			<fault name="InternalException" message="tns:InternalException"/>
        </operation>
    </portType>

	<binding name="SSOServiceBinding" type="tns:SSOServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Login">
            <soap:operation soapAction="urn://SSOService#Login"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ValidationException">
                <soap:fault name="ValidationException" use="literal"/>
            </fault>
            <fault name="InternalException">
                <soap:fault name="InternalException" use="literal"/>
            </fault>
            <fault name="AuthenticationException">
                <soap:fault name="AuthenticationException" use="literal"/>
            </fault>
        </operation>

        <operation name="Logout">
            <soap:operation soapAction="urn://SSOService#Logout"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ValidationException">
                <soap:fault name="ValidationException" use="literal"/>
            </fault>
			<fault name="InternalException">
                <soap:fault name="InternalException" use="literal"/>
            </fault>
			<fault name="InvalidSessionException">
                <soap:fault name="InvalidSessionException" use="literal"/>
            </fault>
        </operation>
	</binding>
	<service name="SSOService">
        <port name="SSOServicePort" binding="tns:SSOServiceBinding">
            <soap:address location="http://10.18.124.156/isv/sso.php"/>
        </port>
    </service>
</wsdl:definitions>